$lightBlue: #0079ff;
$lModeLightDarkBlue: #4b6a9b;
$lModeLightGrey: #697c9a;
$lModeDarkGrey: #2b3442;
$lModeGreyish: #f6f8ff;
$lModeWhiteish: #fefefe;

$dModeDarkGrey: #141d2f;
$dModeDarkBlue: #1e2a47;

$headingBlack: #222731;
$textWhite: #ffffff;
$main-shadow: rgba(70, 96, 187, 0.198567);

$blueHover: #60abff;
$blackHover: #222731;
$greyHover: #90a4d4;

$errorRed: #f74646;
