$lightBlue: #0079ff;
$l-modelightDarkBlue: #4b6a9b;
$l-modelightGrey: #697c9a;
$l-modeDarkGrey: #2b3442;
$l-modeGreyish: #f6f8ff;
$l-modeWhiteish: #fefefe;

$d-modeDarkGrey: #141d2f;
$d-modeDarkBlue: #1e2a47;

$headingBlack: #222731;
$textWhite: #ffffff;
$main-shadow: rgba(70, 96, 187, 0.198567);

$blueHover: #60abff;
$blackHover: #222731;
$greyHover: #90a4d4;

$errorRed: #f74646;
